<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">CONTACT US:</h2>
                <hr>
            </div>

            <div class="col-md-12">
                <h6 style="text-align:center; color:#900;">You can contact us by submitting your query
                </h6>
                <h6 style="text-align:center; color:#900;">
                </h6>
                
                <hr style="text-align:center; width:20%;">
                <div class="row">
                  <div class="col-md-8">
                    <div class="widget-item slideinleft" style="padding:20px 20px 20px 20px; margin:0 ">
                        <form method="get" action="/">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Name:</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address:</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Subject:</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Message:</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" required>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                              <label class="form-check-label" for="exampleCheck1" >Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                          </form>
                    </div> 
                    <!-- /.widget-item -->
                  </div>
                  <!--col-md-9-->
                  <div class="col-md-4">
                    <div class="widget-item" style="border-left:1px solid #018C84; margin-top:45px;">
                      <h6>Get In Touch
                      </h6>
                      <h6>
                        <b>Director :
                        </b> 0175-2215634(O)
                      </h6>
                      <h6>
                        <b>PA to Director :
                        </b> 0175-2217631(O)
                      </h6>
                      <h6>
                        <b>Bursar :
                        </b> 0175-2213060(O)
                        <br> 
                      </h6>
                      <h6>
                        <b>Email :
                        </b> director@ypspatiala.in
                      </h6>
                      <!--<img src="images/_DSC1164.jpg" style="  border: 1px solid #cccccc;width: 300px; height:200px; padding: 5px; margin-top:30px;">-->
                    </div>				 
                  </div>
                </div>
              </div>
                      </div>
    </div>
</div>


<%- include("../partials/footer") %>