<%- include("../partials/header") %>
<style type="text/css">
    .an tr.row{background:#f4f5f5;}
        .an tr.row:hover{background:#cce4ed;}
        .an{ margin-bottom:10px; border:1px solid #afd2de;}
        
    .an tr.row1{background:#cce4ed;}
    .an tr.row1 td{padding:5px;}
    .an{ margin-bottom:10px; border:1px solid #afd2de;}
    .an tr.row td{padding:5px; font-size:13px;}
    p
    {
    font-size:14px;
    }
    h3{font-size:16px;}
    </style>

<div class="container">
  
    <div class="container" style="background-color:#fff;">
    <div class="row1">
    <div class="col-md-12">
    <div class="widget-item" style="background:#018C84; margin-top:0;">
                    <h2 class="welcome-text slideinright" style="color:#fff;">Fees Structure</h2>
                    <hr>
      </div>
      <div class="widget-item">
                    
                    
                    <div style="width:100%; height:auto; margin:20px auto;">
                    
                    <!--<h3 class="bounceinup" style="margin:30px 0 10px 0;">Details of fee effective from 1 Jan 2015</h3>-->
                    <table class="an c" width="100%" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td width="30"> </td>
    <td> </td>
    <td valign="top" width="120"><h3 style="font-size:15px;">Boarders (Rs)</h3></td>
    <td valign="top" width="125"><h3 style="font-size:15px;">Day Scholars(Rs)</h3></td>
  </tr>
  <tr class="row1">
    <td width="30">1</td>
    <td> <h3><strong>FEES</strong></h3></td>
    <td width="120"><p align="center"> </p></td>
    <td width="125"> </td>
  </tr>
</tbody></table>    
  <table id="ContentPlaceHolder1_DataList1" cellspacing="0" style="border-collapse:collapse;">
<tbody><tr>
<td> <table width="100%" class="an" cellspacing="0">

<!--<tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Monthly Payment</td>
  <td width="120">0/-</td>
    <td width="125">7800/- </td>
  </tr></td>
</tr>-->
<tbody><tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800">Quarterly Payment</td>
  <td width="120">-</td>
    <td width="125">26,500/- </td>
  </tr>

<tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">2</td>
  <td width="800">Half Yearly Payment</td>
  <td width="120">1,36,100/-</td>
    <td width="125">53,000/- </td>
  </tr>
<tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">3</td>
  <td width="800">Annual Payment</td>
  <td width="120">2,72,200/-</td>
    <td width="125">1,06,000/- </td>
  </tr>
<tr>
<td></td></tr></tbody></table></td>
</tr>
</tbody></table>
<!-- <table class="an" width="100%" cellpadding="0" cellspacing="0">
<tr class="row1">
    <td width="30">2</td>
    <td colspan="4"><h3><strong> Misc Fees Payable in First Month of the Academic Year</strong></h3></td>
  </tr> </table>

  <table id="ContentPlaceHolder1_DataList2" cellspacing="0" style="border-collapse:collapse;">
<tr>
<td> <table width="100%" class="an" cellspacing="0"></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Annual Charges</td>
  <td width="120">0/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">2</td>
  <td width="800" >Science Fee for Classes IX to XII</td>
  <td width="120">0/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">3</td>
  <td width="800" >Home Science fee for Classes XI & XII (For Home Science students only)</td>
  <td width="120">0/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr><tr>
<td></table></td>
</tr>
</table>-->

<table class="an" width="100%" cellpadding="0" cellspacing="0">
<tbody><tr class="row1">
    <td width="30">2</td>
    <td colspan="4"><h3><strong> IMPREST (Adjustable against actual bill)</strong></h3></td>
  </tr> </tbody></table>

  <!--<table id="ContentPlaceHolder1_DataList4" cellspacing="0" style="border-collapse:collapse;">
<tr>
<td> <table width="100%" class="an" cellspacing="0"></td>
</tr><tr>
<td>
 <!-- <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Clothing</td>
  <td width="120">2000/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr>--<tr>
<td>--
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Tuck Shop Bills</td>
  <td width="120">10,000/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">2</td>
  <td width="800" >Personal Account</td>
  <td width="120">5,000/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">3</td>
  <td width="800" >Books & Stationery</td>
  <td width="120">5,000/-</td>
    <td width="125">5,000/- </td>
  </tr></td>
</tr><tr>
<td></table></td>
</tr>
</table>-->

<table id="ContentPlaceHolder1_DataList4" cellspacing="0" style="border-collapse:collapse;">
<tbody><tr>
<td> <table width="100%" class="an" cellspacing="0">
<tbody><tr>
<td>
 <!-- <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Clothing</td>
  <td width="120">2000/-</td>
    <td width="125">0/- </td>
  </tr></td>
</tr>--<tr>
<td>-->
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800">Class III &amp; above</td>
  <td width="120">50,000</td>
    <td width="125">20,000/- </td>
  </tr>
<tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">2</td>
  <td width="800">Class I to II </td>
  <td width="120">---</td>
    <td width="125">10,000/- </td>
  </tr>

<!--<tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">3</td>
  <td width="800" ></td>
  <td width="120">50,000/-</td>
    <td width="125">20,000/- </td>
  </tr></td>
</tr>--><tr>
<td></td></tr></tbody></table></td>
</tr>
</tbody></table>

<table class="an" width="100%" cellpadding="0" cellspacing="0">
<tbody><tr class="row1">
    <td width="30">3</td>
    <td colspan="4"><h3><strong> CHARGES (Only at the time of Admission)</strong></h3></td>
  </tr> </tbody></table>

  <table id="ContentPlaceHolder1_DataList3" cellspacing="0" style="border-collapse:collapse;">
<tbody><tr>
<td> <table width="100%" class="an" cellspacing="0">
<tbody><tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800">Admission Fee</td>
  <td width="120">13,600/-</td>
    <td width="125">13,600/- </td>
  </tr>
<tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">2</td>
  <td width="800">Building Development Fund</td>
  <td width="120">13,600/-</td>
    <td width="125">13,600/- </td>
  </tr>
<tr>
<td>
  </td></tr><tr class="row1">
  <td width="30"> </td>
  <td width="30">3</td>
  <td width="800">Caution Money (Refundable)</td>
  <td width="120">1,36,100/-</td>
    <td width="125">53,000/- </td>
  </tr>

<tr>
<td></td></tr></tbody></table></td>
</tr>
</tbody></table>
<!-- <table class="an" width="100%" cellpadding="0" cellspacing="0">
<tr class="row1">
    <td width="30">5</td>
    <td colspan="4"><h3><strong> Other Charges</strong></h3></td>
  </tr> </table>-->

 <!-- <table id="ContentPlaceHolder1_DataList5" cellspacing="0" style="border-collapse:collapse;">
<tr>
<td> <table width="100%" class="an" cellspacing="0"></td>
</tr><tr>
<td>
  <tr class="row1">
  <td width="30"> </td>
  <td width="30">1</td>
  <td width="800" >Trekking Charges  Class IV onwards (Subject to revision)</td>
  <td width="120">8,000/-</td>
    <td width="125">8,000/- </td>
  </tr></td>
</tr><tr>
<td></table></td>
</tr>
</table>-->

    Computerization of Accounts has been implemented for the convenience of all and the related changes in the procedure may kindly be noted and followed. 
  <table class="an" width="100%" cellpadding="0" cellspacing="0">
<tbody><tr class="row1">
    
    <td colspan="5"><h3><strong>NOTE</strong></h3></td></tr> </tbody></table>
<table width="100%" class="an" cellspacing="0">
  <tbody><tr class="row1">
  <td width="30">4. </td>
  <td colspan="4"><p align="justify">Increase in Fee will be subject to Government regulations. </p> </td>
  </tr>
  <tr class="row1">
  <td width="30">5. </td>
  <td colspan="4"><p align="justify">After admission Fee will be paid through SBI Epay online payment gateway available on ypspatiala.in website.<u>"Part Payment" will not be accepted by the school."</u></p><u> </u></td>
  </tr>
  
   <tr class="row1">
  <td width="30">6. </td>
  <td colspan="4"><p align="justify">At the time of admission account may be deposited <strong>By Demand Draft in favour of <u>"PRINCIPAL YPS PATIALA" </u></strong>. Payment by cheque/cash will not be accepted.</p> </td>
  </tr>
  
  <tr class="row1">
  <td width="30">7. </td>
  <td colspan="4"><p align="justify">Boarders are required to pay fee the <u>Total Amount</u> in two instalments on <u>six monthly</u> basis by 7th April and 7th October. All Day Scholars are required to pay the Total amount in four instalments on <strong>Quarterly basis on 7th April, 7th July, 7th October and 7th January. Since July instalment would be during summer holidays, please ''arrange '' timely deposit to avoid late fine.</strong></p><strong> </strong></td>
  </tr>
  </tbody></table>
  
    <table class="an" width="100%" cellpadding="0" cellspacing="0">
  <tbody><tr class="row1">
    <td colspan="5" bordercolor="#E6E6EC"><h3><strong>Late Fee Fine</strong></h3></td>
  </tr></tbody></table>
   <table class="an" width="100%" cellspacing="0">
  <tbody><tr class="row1">
    <td valign="top" width="30">8.</td>
    <td colspan="4" valign="top"><p align="justify">	Late fee fine at the rate of ₹ 100/- per day shall be charged after the <u>Due date</u> which would be <u>7th of April and October for Boarders and 7th of April, July, October and January for Day Scholars.</u> Name of the child who does not deposit fee by the <strong><u>last day of the month shall be stuck of rolls.</u></strong> Such students shall have to seek ''Re-admission'' after payment of re-admission charges of ₹ 2,000/- along with amount due and fine.</p></td>
  </tr></tbody></table>
  
  
  
  <table class="an" width="100%" cellpadding="0" cellspacing="0">
  <tbody><tr class="row1">
    <td colspan="5"><h3><strong>Withdrawal Notice</strong></h3></td>
  </tr>
  </tbody></table>
   <table class="an" width="100%" cellspacing="0">
  <tbody><tr class="row1">
    <td valign="top" width="30">9</td>
    <td colspan="4" valign="top"><p align="justify">Notice of withdrawal must be                               <strong>given one month in advance.</strong> Failure to do so will                               entail the payment of one month's fee in lieu of the                               notice.</p></td>
  </tr>
  <tr class="row1">
    <td valign="top" width="30">10</td>
    <td colspan="4" valign="top"><p align="justify">There will be likely 8% increase in the fees from session 2022-23.</p></td>
  </tr>
  <tr class="row1">
    <td valign="top" width="30">11</td>
    <td colspan="4" valign="top"><p align="justify">Fees and charges are subject to                               periodic revision as per the directions of the Board                               of Governors, YPS Patiala.</p></td>
  </tr>

</tbody></table>
<!-- <table class="an" width="100%" cellpadding="0" cellspacing="0">
<tr class="row1">
    <td colspan="5"><h3><strong> Late Fee Fine</strong></h3></td>
  </tr></table>
   <table class="an" width="100%" cellspacing="0">
  <tr class="row1">
    <td valign="top" width="30">8.</td>
    <td colspan="4" valign="top"><p align="justify">Late fee fine at the rate of <strong> Rs.10/- per day</strong> shall be charged after the due                               date. Names of children who do not deposit fee by                               the last day of the month shall be struck off rolls.                               Such students shall have to seek re-admission after                               payment of <strong>re-admission charges of Rs.500/-</strong> along with fees and the fine due.</p></td>
  </tr></table>-->
   <table class="an" width="100%" cellpadding="0" cellspacing="0">
  <tbody><tr class="row1">
    <td colspan="5" bordercolor="#E6E6EC"><h3><strong>Refund of Caution Money</strong></h3></td>
  </tr></tbody></table>

   <table class="an" width="100%" cellspacing="0">
  <tbody><tr class="row1">
    <td valign="top" width="30">12.</td>
    <td colspan="4" valign="top"><p align="justify">Caution money must be claimed                               within <u>three months</u> of the child's withdrawal else it would lapse.</p></td>
  </tr></tbody></table>
   

                    
                    
                    <!--<table class="slideinleft" style="width:100%; border:1px solid #cccccc" class="m_t">
        <tr style="background-color:#018C84;" >
                
                <td style="text-align:center; font-size:16px; width:15%;"></td>
                <td style="text-align:center; font-size:16px;"></td>
                    <td style="text-align:center; font-size:16px; color:#fff;">Boarders(Rs)</td>
                    <td style="text-align:center; font-size:16px; color:#fff;">Day Scholars(Rs)</td>
        </tr>
        <tr class="tab_mani">
    <td width="30">1</td>
    <td> <h3>FEES</h3></td>
    <td width="120"><p align="center"> </p></td>
    <td width="125"> </td>
  </tr>
              
                                                
                    </table>
                    
                    </div >
                    


                </div> <!-- /.widget-item -->
    
    </div>
    
        
      <!--   <div class="col-md-12">
                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Our Campus</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="our-campus clearfix">
                            <ul>
                                <li><img src="images/campus/campus-logo1.jpg" alt=""></li>
                                <li><img src="images/campus/campus-logo2.jpg" alt=""></li>
                                <li><img src="images/campus/campus-logo3.jpg" alt=""></li>
                                <li><img src="images/campus/campus-logo4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div> 
                </div>-->
       </div>
       </div>
</div>
</div>
</div>  

<%- include("../partials/footer") %>