<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">Media:</h2>
                <hr>
            </div>

            <div class="row widget-item">
                <div class="col-md-6">
                  <!--<div style="float:left; width:30%;">-->
                  <img src="images/templateImages/img36.jpg" style="width:100%; margin:25px 0; border:5px solid #fff; box-shadow:1px 1px 4px 1px;">
                </div>
                <div class="col-md-6">
                  <!--<div style="float:left; width:30%;">-->
                  <img src="images/templateImages/img37.jpg" style="width:100%; margin:25px 0; border:5px solid #fff; box-shadow:1px 1px 4px 1px;">
                </div>
                <div class="col-md-6">
                  <!--<div style="float:left; width:30%;">-->
                  <img src="images/templateImages/img38.jpg" style="width:100%; margin:25px 0; border:5px solid #fff; box-shadow:1px 1px 4px 1px;">
                </div>
                <div class="col-md-6">
                  <!--<div style="float:left; width:30%;">-->
                  <img src="images/templateImages/img39.jpg" style="width:100%; margin:25px 0; border:5px solid #fff; box-shadow:1px 1px 4px 1px;">
                </div>
                <!-- close beacuse of problem in footer added one div before exiting while loop  </div> <!-- /.widget-item -->
              </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>