<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">NOTICE :</h2>
                <hr>
            </div>

            <div class="widget-item">
                <div class="slideinleft" style="width: 70%;margin: 10px auto;border: 1px solid #eee;
                                                box-shadow: 1px 1px 1px 1px #eee;padding: 0px 10px;">
                  <h3 style="color:#018C84;"><%=heading%> </h3>
                  <p style="font-size:16px; line-height:1.6; text-align:justify;"> 
                  </p>
                  <a style="text-decoration:underline;" href="pdfs/<%=pdf%>.pdf" target="_blank">
                    <h4 style="color:#003a6a;">Click Here for More Details
                    </h4>
                  </a>
                </div>
              </div>
                

        </div>
    </div>
</div>


<%- include("../partials/footer") %>