<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">ADMISSION PROCEDURE</h2>
                <hr>
            </div>

            <div class="widget-item" style="padding:0 20px 20px 20px;">
                <!--<h5>The Forms have been published in PDF format.</h5>
              <h5>You can download the forms by right clicking mouse on the link and selecting Save Target As...</h5>-->
                <div style="width: 70%;margin: 10px auto;border: 1px solid #eee;
                            box-shadow: 1px 1px 1px 1px #eee;padding: 0px 10px;" class="slideinleft">
                  <h3 style="color:#018C84;">Pre-Admission Information  
                  </h3>
                  <h5>
                    <p>
                      <strong>&nbsp;
                      </strong>
                    </p>
                    <p>
                      <strong>&nbsp;
                      </strong>
                    </p>
                    <p style="text-align: center;">
                      <strong>PRE-ADMISSION INFORMATION
                      </strong>
                    </p>
                    <ul>
                      <li>In consonance with NEP (National Education Policy) 2020, the school will commence admissions from Nursery.
                      </li>
                      <li>Boys and Girls are admitted to classes Nursery to III as Day Scholars.
                      </li>
                      <li>Admission to the Boarding House starts from Class IV.
                      </li>
                      <li>Classes IV to IX and XI as Boarders.
                      </li>
                      <li>Admission given to any student from Nursery to Class V shall be valid up to Class V only. Thereafter, the student has to seek re-admission in the school as a Boarder for further studies in the school.
                      </li>
                      <li>A certain number of students may be readmitted as Day Scholar as per policy of the school from time to time.
                      </li>
                      <li>The norms for class-age relationship are as follows:
                      </li>
                    </ul>
                    <p>(Age is calculated as on 31st March of the year of admission)
                    </p>
                    <p>&nbsp;
                    </p>
                    <table style="border-color: #000;" border="1" cellpadding="3">
                      <tbody>
                        <tr>
                          <td width="147">
                            <p style="text-align: center;">Class
                            </p>
                          </td>
                          <td width="227">
                            <p style="text-align: center;">Age
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="147">
                            <p style="text-align: center;">Nursery
                            </p>
                          </td>
                          <td width="227">
                            <p style="text-align: center;">3 Years
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="147">
                            <p style="text-align: center;">Prep I
                            </p>
                          </td>
                          <td width="227">
                            <p style="text-align: center;">4 Years
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="147">
                            <p style="text-align: center;">Prep II
                            </p>
                          </td>
                          <td width="227">
                            <p style="text-align: center;">5 Years
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td width="147">
                            <p style="text-align: center;">Class I
                            </p>
                          </td>
                          <td width="227">
                            <p style="text-align: center;">6 Years
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p>&nbsp;
                    </p>
                    <p>
                      <strong>No admissions are made in Class X or Class XII.
                      </strong>
                    </p>
                    <p>The information regarding opening of admissions is also relayed in the month of December on our other social media handles like Facebook page yps.patiala1948 and our Instagram page yps_pat.
                      <strong> 
                        <br>
                        <br>
                      </strong>
                    </p>
                    <p>&nbsp;
                    </p>
                    <p style="text-align: center;">
                      <strong>ADMISSION PROCEDURE
                      </strong>
                    </p>
                    <p>
                      <strong>STEP 1 : Registration.
                      </strong>
                    </p>
                    <p>You may register for the test by making a payment of Registration fee of&nbsp;
                      <strong>Rs 7400
                      </strong>&nbsp;in one of the following ways.
                    </p>
                    <ol>
                      <li>Demand Draft - in favour of&nbsp;
                        <strong>Principal
                        </strong>, YPS, Patiala payable on any bank at Patiala.
                      </li>
                    </ol>
                    <ol start="2">
                      <li>Registration Fees can be deposited with&nbsp;State Bank of&nbsp;India&nbsp;NOC Branch, Patiala A/c No 10002101901 IFSC Code: SBIN0008303.
                      </li>
                    </ol>
                    <ol>
                      <li>Cash Payment on campus
                      </li>
                      <li>Amount is Non - Refundable
                      </li>
                      <li>Online Registration :&nbsp;
                        <a href="https://ypspatiala.in/online_registration_form.php" target="_blank">
                          <strong>Click Here
                          </strong>
                        </a>
                      </li>
                    </ol>
                    <p>
                      <strong>&nbsp;
                      </strong>
                    </p>
                    <p>
                      <strong>Additional documents required at the time of Registration
                      </strong>
                    </p>
                  </h5>
                  <h5>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Two Passport size photographs of the child.
                  </h5>
                  <h5>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Photocopy of Birth certificate of the child duly issued by Registrar, Birth &amp; Deaths and self attested.
                  </h5>
                  <h5>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Photocopy of Aadhaar Card of the child, Parents, Local Guardian-Self attested.
                  </h5>
                  <h5>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Address proof, if address not mentioned in the Aadhaar Card.
                  </h5>
                  <h5>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Local guardian's Id proof and one photograph.
                  </h5>
                  <p>
                    <strong>STEP 2 : Entrance Test.
                    </strong>
                  </p>
                  <ul>
                    <li>After registration, the test date will be informed via email, whatsapp or telephonically.
                    </li>
                    <li>The entrance test will be conducted during the month of February.
                    </li>
                    <li>The test will be conducted on the syllabus provided by the school.
                    </li>
                    <li>Admission is granted on the basis of performance in our Entrance Test and interview with the Director.
                    </li>
                    <li>For class XI, admission is based on the pre-board result, entrance test and interview with the Director. For further details regarding class XI admission, Click Here
                    </li>
                    <li>All admissions to Class XI will be provisional till such time the Class X results are declared.
                    </li>
                  </ul>
                  <p>
                    <strong>STEP 3 : Confirmation of Admission.
                    </strong>
                  </p>
                  <p>Once the admission is offered to a candidate, it may be confirmed by depositing the admission fee with the school office by informed time and date. To check the fee structure 
                    <a href="https://ypspatiala.in/fee.php" target="_blank">Click Here
                    </a>
                  </p>
                  <p style="text-align: center;">&nbsp;
                  </p>
                  <p style="text-align: center;">
                    <strong>DOCUMENTS REQUIRED TO BE SUBMITTED AT THE TIME OF ADMISSION.
                    </strong>
                  </p>
                  <h5>1.&nbsp;&nbsp;&nbsp;&nbsp; Admission form duly completed and signed by the parents &amp; guardian.
                  </h5>
                  <h5>2.&nbsp;&nbsp;&nbsp;&nbsp; Undertakings and Medical History forms as given by the office.
                  </h5>
                  <h5>3.&nbsp;&nbsp;&nbsp;&nbsp; Photocopy of Education Qualification Certificates of the parents.
                  </h5>
                  <h5>4.&nbsp;&nbsp;&nbsp;&nbsp; School leaving Certificate in Original &amp; photocopy of report card of Final term (For Class IV to IX).
                  </h5>
                  <h5>5.&nbsp;&nbsp;&nbsp;&nbsp; For students admitted in class XI, Detail Marks Card and Pass Certificate (ICSE/CBSE/Other School Boards) and School leaving must be submitted to the school office within one week of the declaration of result, to regularize the admission, failing which the offer of provisional admission will stand cancelled.
                  </h5>
                  <h5>6.&nbsp;&nbsp;&nbsp;&nbsp; Transfer student certificate from the School registered on epunjabschool.gov.in site (Applicable for Punjab State only)
                  </h5>
                  <p>
                    <strong>For any admission query you may contact following from 10:00 AM – 12:30 PM (IST) on all weekdays except Sunday:
                    </strong>
                  </p>
                  <p>
                    <strong>Ms. Rimpy Sood &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +917986142232
                    </strong>
                  </p>
                  <p>
                    <strong>Mr. P V Soman&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +919501167059, +911752215634
                    </strong>
                  </p>
                  <p>Or, you can email us at
                  </p>
                  <p>
                    <a href="mailto:director@ypspatiala.in">director@ypspatiala.in
                    </a>
                  </p>
                  <p>
                    <a href="mailto:rimpy.sood@ypspatiala.in">rimpy.sood@ypspatiala.in
                    </a>
                  </p>
                  <p>&nbsp;
                  </p>
                  <p style="text-align: center;">
                    <strong>CLASS XI ENTRANCE EXAM DETAILS
                    </strong>
                  </p>
                  <p>The number of seats on offer will depend on availability of vacancies.
                  </p>
                  <ul>
                    <li>Registration for Provisional Admission to Class XI (Science, Commerce &amp; Humanities)&nbsp;is open for Boarders. Regular classes for class XI usually commence from 15th April.
                    </li>
                    <li>Forms for re-admission may be handed in to the Deputy Headmaster in the first week of April of the year of admission.
                    </li>
                    <li>All applicants from other schools must appear for the Test before being considered for&nbsp;Provisional Admission.
                    </li>
                  </ul>
                  <ul>
                    <li>Written test will be held in the following subjects :
                      <br> 
                      <strong>&nbsp; &nbsp; &nbsp; &nbsp;
                      </strong>
                      <strong>&nbsp;For Science
                      </strong> : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English, Science &amp; Maths
                      <br> 
                      <strong>&nbsp; &nbsp; &nbsp; &nbsp;
                      </strong>
                      <strong>&nbsp;
                      </strong>
                      <strong>For Commerce
                      </strong> : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English &amp; Maths
                      <br> 
                      <strong>&nbsp; &nbsp; &nbsp; &nbsp; For Humanities
                      </strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English, History &amp; Geography
                    </li>
                  </ul>
                  <p>The following are the marks criteria for re-admission to various streams, obtained in the Pre Board Exam:
                  </p>
                  <ul>
                    <li>Average of 80% in English, Science (Phy-Chem-Bio), Maths &amp; Computer Science (if opted for in Class X) and an aggregate of 75% for Science Stream.
                    </li>
                    <li>Average of 75% in English, Mathematics &amp; Computer Science/Economics/Commerce (whichever opted for in Class X) and an aggregate of 70% for Commerce Stream.
                    </li>
                    <li>Average of 65% in English, History, Civics &amp; Geography (HCG), Art/Computer Science/Economics/Commerce (whichever opted for in Class X) and an aggregate of 60% for Humanities.
                    </li>
                  </ul>
                  <p>Admission to all streams will be confirmed only after receipt of the Result Card of Class X (ICSE or CBSE) Final Examinations.
                  </p>
                  <p>The Result Card must be submitted to the School within one week of the declaration of the Board Examination Results.
                  </p>
                  <p>&nbsp;
                  </p> 
                </div>
              </div>
                   

        </div>
    </div>
</div>


<%- include("../partials/footer") %>