<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">VIRTUAL TOUR</h2>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-6 slideinleft" style="margin-top:10px">
                  <div style="padding:10px; border:1px solid #cccccc;   box-shadow: 1px 1px 2px 1px #efefef;">
                    <h5 style="padding-left:6px; color:#018C84;">Great Indian Schools
                    </h5>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="517" height="345" src="https://www.youtube.com/embed/e_tGDor0jFQ" frameborder="0" allowfullscreen="">
                    </iframe>
                  </div>
                </div>
                <div class="col-md-6 slideinleft" style="margin-top:10px">
                  <div style="padding:10px; border:1px solid #cccccc;   box-shadow: 1px 1px 2px 1px #efefef;">
                    <h5 style="padding-left:6px; color:#018C84;">Virtual Tour-YPS
                    </h5>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="517" height="345" src="https://www.youtube.com/embed/Bjt52l_RS2E" frameborder="0" allowfullscreen="">
                    </iframe>
                  </div>
                </div>
                <div class="col-md-6 slideinleft" style="margin-top:10px">
                  <div style="padding:10px; border:1px solid #cccccc;   box-shadow: 1px 1px 2px 1px #efefef;">
                    <h5 style="padding-left:6px; color:#018C84;">Virtual Tour
                    </h5>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="517" height="345" src="http://www.youtube.com/embed/DcP6bnkQ5Wg" frameborder="0" allowfullscreen="">
                    </iframe>
                  </div>
                </div>
              </div>
              

        </div>
    </div>
</div>


<%- include("../partials/footer") %>