<%- include("../partials/header") %>


<div class="container" style="background-color:#fff;">
    		
    <div class="row bg-light mt-5">
        <div class="col-md-12">
            <div class="widget-item prevt slideinright mt-2" style="background:#018C84; margin-top:0;">
                <h2 class="welcome-text" style="color:#fff;">PUBLICATIONS</h2>
                <hr>
            </div>

            <div style="width: 80%;margin: 10px auto;border: 1px solid #eee;
                box-shadow: 1px 1px 1px 1px #eee;padding: 0px 10px;" class="slideinleft">
                <div style="width:65%; float:left;">
                    <h3 style="color:#018C84;">Fledglings 2021-22 
                    </h3>
                    <h5> 
                    </h5>
                    <a style="text-decoration:underline;" href="pdfs/pdf1.pdf" target="_blank">
                    <h4 style="color:#003a6a;">Click Here To More Details
                    </h4>
                    </a>
                </div>
                <div style="float:left;width:35%;">
                    <img src="images/templateImages/img29.jpg" style="width:300px; height:180px; border:5px solid #fff; box-shadow:1px 1px 6px 1px;margin:15px 0px;">
                </div>
                <div style="clear:both;">
                </div>
                </div>

        </div>
    </div>
</div>


<%- include("../partials/footer") %>